In [1]:
import numpy as np
import pandas as pd

In [2]:
l1=['Ashok','Ashish','Yogesh','Karthik']
l2=['Subramaniam','Mishra','Soni','NC']

In [3]:
Data=pd.DataFrame({'F_Name':l1,'L_Name':l2})

In [4]:
Data

    F_Name       L_Name
0    Ashok  Subramaniam
1   Ashish       Mishra
2   Yogesh         Soni
3  Karthik           NC

In [5]:
New=Data['F_Name']+' '+Data['L_Name']

In [6]:
New=pd.DataFrame(New)

In [7]:
New.columns=['Name']

In [8]:
New

                Name
0  Ashok Subramaniam
1      Ashish Mishra
2        Yogesh Soni
3         Karthik NC

In [113]:
df=pd.DataFrame({'Names':['0','1','Table','Ashok','Yogesh','Ashish','Base','Aprajitha','Pooja','Meghansh','Table']})

In [114]:
df

        Names
0           0
1           1
2       Table
3       Ashok
4      Yogesh
5      Ashish
6        Base
7   Aprajitha
8       Pooja
9    Meghansh
10      Table

In [116]:
a=df.index[df['Names']=='Table'].tolist()
b=df.index[df['Names']=='Base'].tolist()
c=df[a[0]+1:6]
d=df[b[0]+1:]
print(a)

aa=[]
for i in c.Names:
    aa.append(i)
pre=''.join(aa)
print(pre)

bb=[]
for j in d.Names:
    bb.append(j)
post=''.join(bb)
print(post)

[2, 10]
AshokYogeshAshish
AprajithaPoojaMeghanshTable