In [1]:
import pandas as pd

In [2]:
cols = ['frame', 'count']
N = 4
dat = pd.DataFrame(columns = cols)
for i in range(N):

    dat = dat.append({'frame': str(i), 'count':i},ignore_index=True)

In [3]:
dat

  frame count
0     0     0
1     1     1
2     2     2
3     3     3

In [14]:
cols = ['c1', 'c2', 'c3']
lst =[]
lst1=[]
lst2=[]
for a in range(3):
    lst.append(1)
    lst1.append(2)
    lst2.append(3)
df1 = pd.DataFrame([lst,lst1,lst2], columns=cols)
df1

   c1  c2  c3
0   1   1   1
1   2   2   2
2   3   3   3